main{
    padding: 10px;
    padding-top: 110px; 
}
.flex{
    display: flex;
}
.imgs:hover {
    transition:0.4s;
    transform: scale(1.3,1.3);
}
.img1{
    width:290px;
    height:149px ;
}
.border{
    border: 2px solid #DCD3ff;
    padding: 10px;
}

.icon_size{
    width: 20px;
    height: 20px;
}