.general_border{
    border: 3px solid rgb(89, 48, 99);
    margin-top: 30px;
    margin-right: 150px;
    margin-left: 150px;
}

.middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.border{
    border: 1px solid black;
    width: 200px;
    height: 30px;
    text-align: center;
}

.padding_left_right_70{
    padding-left: 70px;
    padding-right: 70px;
}

.background_color_for_button{
    background-color: rgb(178, 163, 228);
}
.background_color_for_button:hover{
    background-color: rgb(142, 115, 230);
}

#support_button:hover{
    color:rgb(14, 255, 255);
}
#support_button:active{
    color: rgb(198, 47, 47);
}