@font-face {
    font-family:"font";
    src: url(../fonts/tradbdo.ttf);
}
*{
    font-family:"font";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.7s;
}

body{
    background-color: rgb(21,32,43);
}
img{
    border-radius: 10px;
}
/*برای لیست های توصیفی*/
.padding-right40{
    padding-right: 40px;
}
.margin-right70{
    margin-right: 70px;
}
.padding-right10{
    padding-right: 10px;
}
.margin-right50{
    margin-right: 50px;
}
.margin-top-bottom35{
    margin-top: 35px;
    margin-bottom: 35px;
}
.margin-top-bottom25{
    margin-top: 25px;
    margin-bottom: 25px;
}
.margin-right40{
    margin-right: 40px;
}
.margin-left70{
    margin-left: 70px;
}
.margin-left10{
    margin-left: 10px;
}
/*در main_page برای تیتر های توضیحی*/
.color_red{
    color: #c78f8f;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.font_size35{
    font-size: 35px;
}

/*در main_page برای تیتر های کوتاه*/
.color_green_rgb{
    color: rgb(101, 150, 26);
}
.font_size30{
    font-size: 30px;
}
.center{
    text-align: center;
}

/* در main_page برای توضیح ها*/
.color_blue{
    color: #88ccbb;
}
.font_size25{
    font-size: 25px;
}

.font_size20{
    font-size: 20px;
}
.font_size40{
    font-size: 40px;
}

/*در main_page برای <dd> های footer*/
.color_green{
    color:rgb(5, 219, 5);
}

/*for button*/
#Btn_to_top{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}
#Btn_to_top_icon{
    width: 30px;
    height: 30px;
}


.float_left{
    float: left;
}
.float_right{
    float: right;
}

.color_gray{
    color: #cccfcf;
}
.color_purple{
    color: rgb(154, 110, 196);
}