header {
    position: fixed;
    width: 100%;
    border: 3px solid lightblue;
    background-color: rgb(237, 225, 208);
    padding: 10px;
    z-index: 1;
    align-items: center;
}

#title {
    text-align: center;
    color: red;
    font-size: 40px;
    flex: 50%;
}

/*برای دکمه ورود و ثبت نام*/
#sing_in_to_site {
    float: left;
    padding: 10px;
    background-color: rgb(192, 182, 241);
    width: 90px;
    height: 50px;
}

#sing_in_to_site:hover {
    background-color: rgb(189, 136, 237);
}

.red {
    color: red;
}


#school-emblem{
    width: 92px;
    height: 70px;
}
/* menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#menu {
    width: 50px;
    height: 50px;
}
#menu:hover{
    cursor: pointer;
}

#menu_energies_details summary > *{
    display: inline
}
#menu_energies_details summary::marker{
    color: white;
}
#menu_energies_details summary a {
    padding-left: 8px;
}
#menu_energies_details summary {
    padding-left: 10px;
}

#theme-Icon:hover{
    cursor: pointer; 
}

.font-size20{
    font-size: 20px !important;
}

.width-height40 {
    width: 40px !important;
    height: 40px !important;

}

.width-height45 {
    width: 45px;
    height: 45px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-right10 {
    margin-right: 10px;
}

.justify--start {
    justify-content: flex-start;
}

.justify--end {
    justify-content: flex-end;
}

.margin-auto {
    margin: auto;
}


.light{
    background-color: rgb(237, 225, 208);
}
/* search btn */
.search-box {
    background-color: #16a085;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    display: inline-block;
    min-width: 50px;
}

.search-box:hover>.search-txt {
    width: 80%;
    border-radius: 25%;
    padding: 0 6px;
    background-color: #16a085;
}


.search-box:hover>.search-btn {
    background: whitesmoke;
}


.search-btn {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #16a085;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#search-img {
    width: 20px;
    height: 20px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    text-align: right;
    font-size: 25px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    border-radius: 25%;
}

#left-section{
    flex: 25%;
}

#right-section{
    flex: 25%;
    align-items: center;
}

#search-box-div{
    background-color: transparent;
    width: 200px;
    height: 50px;
}