main{
    padding: 10px;
    padding-top: 110px;
}
.flex{
    display: flex;
}
#comment_legend{
    color: darkmagenta;
    font-size: 25px;
}
#people_comment{
    margin-right: 10px;
    margin-left: 10px;
}